---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=sm_debenedetto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="f80d2eb863a8611ca0d0550e66217bcd",
        oauth_signature="iHtH%2BIh%2BI4a9QCl%2F%2B4Y19ATIrMQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438886280", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 06 Aug 2015 18:38:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 92fdfd319cb860559bc93c36f4537c5b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1438887135'
      X-Response-Time:
      - '101'
      X-Transaction:
      - d3ffb491b6c7f1c1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":3389050187,"id_str":"3389050187","name":"Adeline Gross","screen_name":"AdelineGrosk9l","location":"Port
        St. Lucie, FL","description":"I don''t want to be original i want to be cool.
        Everyone that follows me i will follow back","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":26,"friends_count":1100,"listed_count":2,"created_at":"Thu
        Jul 23 11:47:30 +0000 2015","favourites_count":0,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":35,"lang":"en","status":{"created_at":"Thu
        Aug 06 18:29:19 +0000 2015","id":629358605947506688,"id_str":"629358605947506688","text":"RT
        if you''d marry Jennifer Lawrence \ud83d\ude0d\ud83d\ude0d\ud83d\ude0d http:\/\/t.co\/WUUzpp0o3D","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":456218283767640064,"id_str":"456218283767640064","indices":[40,62],"media_url":"http:\/\/pbs.twimg.com\/media\/BlTQHKgCMAAsr8d.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/BlTQHKgCMAAsr8d.jpg","url":"http:\/\/t.co\/WUUzpp0o3D","display_url":"pic.twitter.com\/WUUzpp0o3D","expanded_url":"http:\/\/twitter.com\/WomanCrushPixs\/status\/456218283918622721\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":600,"h":600,"resize":"fit"}},"source_status_id":456218283918622721,"source_status_id_str":"456218283918622721","source_user_id":1470631578,"source_user_id_str":"1470631578"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/624185478745587712\/laL_22C6_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/624185478745587712\/laL_22C6_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3389050187\/1437652411","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":231883531,"id_str":"231883531","name":"marco
        marcucci","screen_name":"fuser002","location":"italia","description":"Amo
        Gaber,Bergman,Myazaki,Springsteen, Pearl Jam,BoBMarley, musica Cinema la cosa
        importante e'' il rispetto per tutti","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":102,"friends_count":710,"listed_count":3,"created_at":"Wed
        Dec 29 18:39:56 +0000 2010","favourites_count":44,"utc_offset":7200,"time_z[...]
