---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=sm_debenedetto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="7647e79d5940ab13b2050cde409f98c3",
        oauth_signature="qwFNoJ7P6eBw4ZdOGRTA6W9weN8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438886280", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 06 Aug 2015 18:38:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 18ea7625c6dd57a3d504750f9098db55
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1438887134'
      X-Response-Time:
      - '34'
      X-Transaction:
      - fd1343d33390ed3c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":2911734821,"id_str":"2911734821","name":"Sophie DeBenedetto","screen_name":"sm_debenedetto","location":"Brooklyn,
        NY","profile_location":null,"description":"web dev \/\/ software engineer,
        flatiron grad","url":"http:\/\/t.co\/mlsD89FPIo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/mlsD89FPIo","expanded_url":"http:\/\/sophiedebenedetto.nyc\/","display_url":"sophiedebenedetto.nyc","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":71,"friends_count":105,"listed_count":12,"created_at":"Mon
        Dec 08 22:34:14 +0000 2014","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":51,"lang":"en","status":{"created_at":"Wed
        Aug 05 17:20:09 +0000 2015","id":628978811938410496,"id_str":"628978811938410496","text":"VCRs
        are for more than watching tapes\u2013\u2013stub external web requests in
        @rspec with the vcr gem: http:\/\/t.co\/tQdSNRaQ1b\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"rspec","name":"RSpec
        - BDD for Ruby","id":29239854,"id_str":"29239854","indices":[69,75]}],"urls":[{"url":"http:\/\/t.co\/tQdSNRaQ1b","expanded_url":"http:\/\/www.thegreatcodeadventure.com\/stubbing-with-vcr\/","display_url":"thegreatcodeadventure.com\/stubbing-with-\u2026","indices":[94,116]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/542085549641564161\/fsb_Vfm5_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/542085549641564161\/fsb_Vfm5_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2911734821\/1424880802","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"suspended":false,"needs_phone_verification":false}'
  recorded_at: Thu, 06 Aug 2015 18:38:00 GMT
recorded_with: VCR 2.9.3
