---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="b0685d849103adc66bf4818834996735",
        oauth_signature="%2BJwvM%2FaA3f7EObRJ%2F6fX3uZ4AqM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438886281", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 06 Aug 2015 18:38:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - cab061577e6d8d64b016013dff68c002
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1438887135'
      X-Response-Time:
      - '78'
      X-Transaction:
      - c39c19cba1d38e21
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Aug 06 18:34:01 +0000 2015","id":629359789647265792,"id_str":"629359789647265792","text":"Only
        celebrities get Facebook livestreaming. They rest of us are liabilities. http:\/\/t.co\/WC7kaYfyla","source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1344951,"id_str":"1344951","name":"WIRED","screen_name":"WIRED","location":"San
        Francisco\/New York","description":"WIRED is where tomorrow is realized.","url":"http:\/\/t.co\/AbRkBRjcYo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/AbRkBRjcYo","expanded_url":"http:\/\/WIRED.com","display_url":"WIRED.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":4959011,"friends_count":225,"listed_count":80924,"created_at":"Sat
        Mar 17 09:57:25 +0000 2007","favourites_count":1644,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":48384,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/734548027\/5e5ee18945d22a9e2d9971208971bfdd.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/734548027\/5e5ee18945d22a9e2d9971208971bfdd.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/615598832726970372\/jsK-gBSt_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/615598832726970372\/jsK-gBSt_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1344951\/1437480585","profile_link_color":"99DCF0","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":16,"favorite_count":3,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/WC7kaYfyla","expanded_url":"http:\/\/wrd.cm\/1M8izdP","display_url":"wrd.cm\/1M8izdP","indices":[78,100]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Aug 06 18:27:21 +0000 2015","id":629358110155644928,"id_str":"629358110155644928","text":"RT
        @DylanReeve: iTunes and computer backups now illegal (again) in the UK - https:\/\/t.co\/VFmyOfXyYh","source":"\u003ca
        href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\" rel=\"nofollow\"\u003eTwitter
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to[...]
