---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="f4d382bedb473e280c8d4d9445c592e9",
        oauth_signature="Z6%2BgcccqY%2Fi%2BIWbEYdqkUTPpmfI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438886299", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 06 Aug 2015 18:38:19 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 682d84b7edfe590318143444099e9c68
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1438887199'
      X-Response-Time:
      - '27'
      X-Transaction:
      - a43953765249cabd
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":2911734821,"id_str":"2911734821","name":"Sophie DeBenedetto","screen_name":"sm_debenedetto","location":"Brooklyn,
        NY","description":"web dev \/\/ software engineer, flatiron grad","url":"http:\/\/t.co\/mlsD89FPIo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/mlsD89FPIo","expanded_url":"http:\/\/sophiedebenedetto.nyc\/","display_url":"sophiedebenedetto.nyc","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":71,"friends_count":105,"listed_count":12,"created_at":"Mon
        Dec 08 22:34:14 +0000 2014","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":51,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/542085549641564161\/fsb_Vfm5_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/542085549641564161\/fsb_Vfm5_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2911734821\/1424880802","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 06 Aug 2015 18:38:19 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=2911734821
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="2a646ce94e9aba6da570ded14cebf8db",
        oauth_signature="jRb%2B4bpnF4xYDqzaCJ0e7EBQtAk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438886299", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 06 Aug 2015 18:38:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8ba618671691669447bd25d8efcc3628
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1438887199'
      X-Response-Time:
      - '118'
      X-Transaction:
      - 68d24274ddede6c1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":22202166,"id_str":"22202166","name":"Forrest Chang","screen_name":"fkchang2000","location":"Southern
        California","description":"Software, Ruby, Rails,Agile. Love martial arts,
        music, movies, TV and food. OCRuby organizer","url":"http:\/\/t.co\/8ZwVkIeZ5N","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/8ZwVkIeZ5N","expanded_url":"http:\/\/funkworks.blogspot.com","display_url":"funkworks.blogspot.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":334,"friends_count":357,"listed_count":16,"created_at":"Fri
        Feb 27 22:48:52 +0000 2009","favourites_count":75,"utc_offset":-28800,"time_zone":"Alaska","geo_enabled":true,"verified":false,"statuses_count":3524,"lang":"en","status":{"created_at":"Tue
        Aug 04 22:22:48 +0000 2015","id":628692589127057408,"id_str":"628692589127057408","text":"I''m
        at Dinosaur Bar-B-Que in Stamford, CT https:\/\/t.co\/fXXOnBwTNd","source":"\u003ca
        href=\"http:\/\/foursquare.com\" rel=\"nofollow\"\u003eFoursquare\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":{"type":"Point","coordinates":[41.04321214,-73.53268189]},"coordinates":{"type":"Point","coordinates":[-73.53268189,41.04321214]},"place":{"id":"468bfe7c705fbc37","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/468bfe7c705fbc37.json","place_type":"city","name":"Stamford","full_name":"Stamford,
        CT","country_code":"US","country":"United States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-73.606436,41.016898],[-73.501758,41.016898],[-73.501758,41.179771],[-73.606436,41.179771]]]},"attributes":{}},"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/fXXOnBwTNd","expanded_url":"https:\/\/www.swarmapp.com\/c\/amPVRAapJTK","display_url":"swarmapp.com\/c\/amPVRAapJTK","indices":[42,65]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"0099B9","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/92041870\/Photo_25_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/92041870\/Photo_25_normal.jpg","profile_link_color":"0099B9","profile_sidebar_border_color":"5ED4DC","profile_sidebar_fill_color":"95E8EC","profile_text_color":"3C3940","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":18579260,"id_str":"18579260","name":"Jaison","screen_name":"jaisonnvieira","location":"","description":"iOS
        developer, Ruby enthusiast, technology lover","url":"http:\/\/t.co\/oAi3h3uelH","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/oAi3h3uelH","expanded_url":"http:\/\/jaisonv.com","display_url":"jaisonv.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":328,"friends_count":47,"listed_count":6,"created_at":"Sat
        Jan 03 13:52:28 +0000 2009","favourites_count":142,"utc_offset":-10800,"time_zone":"Brasilia","geo_enabled":true,"verified":false,"statuses_count":749,"lang":"en","status":{"created_at":"Wed
        Aug 05 23:09:16 +0000 2015","id":629066671219720193,"id_str":"629066671219720193","text":"New
        post: Using Extensions to add functionality to NSManagedObject classes http:\/\/t.co\/BMwx89Vk5W","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[][...]
